{% extends 'base.html' %}

{% block extra_includes %}
{% endblock %}

{% block body %}

<p>
  {{ globals.app_name }} is made with <a href="http://www.python.org/">Python</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://www.mongodb.org/">MongoDB</a>, and <a href="http://gunicorn.org/">Gunicorn</a>.
</p><p>
  Created by <a href="http://www.kyri.com">Raymond Kyri</a>.
</p>

{% endblock %}
