<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ globals.app_name }} - {{ title }}</title>
  <meta name="description" content="{{ globals.app_description }}">
  <meta name="author" content="{{ globals.app_author }}">

  <link rel="stylesheet" href="static/css/styles.css" />
  <script src="static/js/jquery-1.7.2.min.js"></script>
  <script src="static/js/app.js"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block extra_includes %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>

